<div class="container mt-4">
  <button class="btn btn-primary mb-3" (click)="createArticle()">Create New Article</button>

  <ul class="list-group">
    <li *ngFor="let article of articles" class="list-group-item d-flex justify-content-between align-items-center">
      <span (click)="selectArticle(article)" class="article-title">{{ article.title }}</span>
      <div  class="btn-group" role="group">
        <button class="btn btn-sm btn-success" (click)="editArticle(article)">Edit</button>
        <!-- <button class="btn btn-sm btn-danger" (click)="deleteArticle(article.id)">Delete</button> -->
        <button class="btn btn-sm btn-danger" (click)="confirmDelete(article)">Delete</button>
      </div>
    </li>
  </ul>

  <div class="container app-article">
    <app-article-form
      *ngIf="isCreating || isEditing"
      [article]="selectedArticle!"
      (formSubmitted)="onFormSubmitted()"
      (cancel)="cancel()">
    </app-article-form>
  </div>
  
  <div class="container app-article">
    <app-article-detail
      *ngIf="selectedArticle && !isCreating && !isEditing"
      [article]="selectedArticle!"
      (cancel)="cancel()">
    </app-article-detail>
  </div>

  <div class="container app-article">
    <app-confirm-dialog 
      *ngIf="isConfirming" 
      (confirmed)="deleteArticle($event)">
    </app-confirm-dialog>
  </div>
</div>
