main {
    margin-top: 3rem;

    h1 {
        margin-bottom: 1em;
    }

    .row:last-child {
        margin-top: 1.5em;
    }
}

.odd-row {
    background-color: #d3d3d3;
}

.list-paragraph {
    margin: 0;
}
